.featured {

    // &__intro {}

    &__info-title {
        @media (max-width:1200px) {
            text-align: center;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media (max-width:1200px) {
            justify-content: center;
        }
    }

    &__item {
        padding: 25px 10px;
        flex: 0 1 600px;
    }


    &__img {
        max-width: 590;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    // &__text {}

    // &__subtitle {}

    // &__title {}

    // &__btn {}
}