@import 'rem';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');
// ###############################################################################

// ###############################################################################
$black: #000;
$gray-light: #999;
$gray-dark: #666;
$transition: all .2s linear;
$bd: 1px solid #e6e6e6;


// ###############################################################################
body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    color: $black;
}

a {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    color: $black;
    display: inline-block;
}

// ###############################################################################

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section {
    padding: 90px 0;

}

.main {
    flex: 1 1 100%;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.img-box {
    margin-bottom: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-light;
    margin-bottom: 18px;
}

.title {
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-transform: uppercase;

    color: $black;
    margin-bottom: 15px;
}

.info-title {
    font-size: 10px;
    line-height: 12px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $gray-light;


}

.descr {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    margin-bottom: 28px;
}

.btn-link {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: $transition;

    &:hover {
        color: $gray-dark;
    }

    &:active {
        color: $gray-light;
    }

}

.btn {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 21px 25px;
    border: 1px solid #000;
    transition: $transition;

    &:hover {
        background: #000;
        color: #fff;
    }

    &:active {
        background: $gray-dark;
    }
}

// ###############################################################################

@import 'header';
@import 'intro';
@import 'posts';
@import 'featured';
@import 'footer';